
*.FCBak
hardware/horn_antenna_0.FCStd

MicroPython/unused/
MicroPython/ajax0.py
MicroPython/ble0.py
MicroPython/daylight.py
MicroPython/PC_BLE.py
MicroPython/webpage0.py
MicroPython/*._py_

RADAR_BOGAN_BOM_JR2.xlsx

TestData/
xm125_old/
xm125/
XM125/
hardware/unused/

MicroPython/set_creds.py
hardware/antenna_holder.3mf
MicroPython/test_batt_v.py
MicroPython/test_files.py
