# Configuration file for Bogan Radar

Site Name:           MBYC       # Name of site; should be one word (no spaces)
Beginning Distance:  2.0        # Beginning distance (m)
Ending Distance:     8.0        # Ending distance (m)
Sensitivity:         500        # Peak threshold sensitivity
Time Per Point:      5.0        # Time between data points (seconds)
Awake Time:          0.0        # Time taking data, sec., or 0.0 for always awake
Cycle Time:          0.0        # Total on-off cycle time, or 0.0 for always awake
