# Configuration file for Bogan Radar

Site Name:           MBYC Dock  # Name of site
Beginning Distance:  1.0        #  Beginning distance (m)
Ending Distance:     10.0       #  Ending distance (m)
Sensitivity:         400        #  Peak threshold sensitivity
Time Per Point:      5.0        #  Time between data points (seconds)
Awake Time:          0.0        #  Time taking data, sec., or 0.0 for always awake
Cycle Time:          0.0        #  Total on-off cycle time, or 0.0 for always awake
